// ------ INDEX ------

.hero{
    @extend %aspecto-bg-img;
    @extend %seccion-inicial-doc;
    background-image: url("../img/img-hero.jpg");
    div{
        @include flex (flex, center, center, column);
        background-color: $color-sec;
        color: $color-ter;
        width: 800px;    
        border: 5px solid rgb(22, 190, 179);
        border-radius: 15px;
        text-align: center;
        padding: 15px;
        .index-primer-texto{
            font-size: nth($size, 3);
            font-weight: bold;
            padding: 10px 0 20px 0;
            margin: 0;
            line-height: normal;
        }
        h2{
            color: $color-pri;
            font-size: 55px;
            font-weight: bold;
            margin: 0;
            line-height: normal;
        }
        .index-segundo-texto{
            font-size: nth($size, 3);
            padding: 20px 0 10px 0;
            margin: 0;
            line-height: normal;
        }
    }
}

.valores{
    background-color: $color-sec;
    h2{
        color: $color-pri;
        @extend %titulos-h2;
    }
    .grid-container{
        height: 950px;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        div{
            background-color: rgb(22, 190, 179);
            padding: 15px;
            text-align: center;
            border: 10px solid white;
            border-radius: 30px;
            height: 87%;
            width: 90%;
            transition: 1s ease;
            &:hover{
                transform: scale(1.05);
            }
            img{
                width: 200px;
                height: 200px;
            }
            h3{
                margin: 15px 0 10px 0;
                font-size: nth($size, 2);
                text-decoration: underline;
                color: $color-sec;
                font-weight: bold;
                line-height: normal;
            }
            p{
                font-size: nth($size, 3);
                color: $color-sec;
                margin: 0;
                line-height: normal;
            }
        }
    }
}

.destacados{
    background-color: $color-sec;
    height: 550px;
    h2{
        color: $color-pri;
        @extend %titulos-h2;
    }
    .destacados-padre{
        @include flex (flex, space-evenly, center, row);
        padding: 20px 0;
        .destacados-sd{
            @extend %aspecto-bg-img;
            background-image: url("../img/services-sd.jpg");
            width: 350px;
            height: 250px;
            @include flex (flex, center, center, row);
            border: 2px solid white;
            border-radius: 15px;
            a{
                background-color: $color-sec;
                color: $color-ter;
                font-size: nth($size, 2);
                text-decoration: none;
                padding: 3px;
                border: 1px solid black;
                border-radius: 15px;
            }
        }
        .destacados-gd{
            @extend %aspecto-bg-img;
            background-image: url("../img/services-gd.jpg");
            width: 350px;
            height: 250px;
            @include flex (flex, center, center, row);
            border: 2px solid white;
            border-radius: 15px;
            a{
                background-color: $color-sec;
                color: $color-ter;
                font-size: nth($size, 2);
                text-decoration: none;
                padding: 3px;
                border: 1px solid black;
                border-radius: 15px;
            }
        }
        .destacados-da{
            @extend %aspecto-bg-img;
            background-image: url("../img/services-da.jpg");
            width: 350px;
            height: 250px;
            @include flex (flex, center, center, row);
            border: 2px solid white;
            border-radius: 15px;
            a{
                background-color: $color-sec;
                color: $color-ter;
                font-size: nth($size, 2);
                text-decoration: none;
                padding: 3px;
                border: 1px solid black;
                border-radius: 15px;
            }
        }
    }
}

.portfolio{
    @include flex (flex, center, center, row);
    background-color: $color-cua;
    margin-bottom: 0;
    img{
        height: 450px;
        width: 50%;
    }
    div{
        h3{
            color: $color-pri;
            font-size: nth($size, 2);
            padding: 0 15px 10px 20px;
            margin-bottom: 0;
            font-weight: bold;
            line-height: normal;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            padding: 0 15px 10px 20px;
            margin-bottom: 0;
            line-height: normal;
        }
    }
}

.equipo{
    background-color: $color-sec;
    @include flex (flex, center, center, row);
    height: 400px;
    div{
        @include flex (flex, center, center, column);
        padding: 0 5px;
        h2{
            color: $color-pri;
            font-size: 50px;
            font-weight: bold;
            line-height: normal;
            margin: 0;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            word-wrap: break-word;
            width: 500px;
            padding: 10px;
            text-align: center;
            line-height: normal;
            margin: 0;
        }
    }
    div{
        @include flex (flex, center, center, column);
        padding: 0 5px;
        h3{
            color: $color-pri;
            font-size: nth($size, 1);
            padding: 20px;
            line-height: normal;
            margin: 0;
        }
        a{
            @extend %aspecto-boton;
        }
    }
}

// ------ SERVICIOS ------

.servicios-intro{
    @extend %aspecto-bg-img;
    @extend %seccion-inicial-doc;
    background-image: url("../img/img-servicios.jpg");
    div{
        background-color: $color-sec;
        @include flex (flex, center, center, column);
        width: 725px;
        border: 5px solid rgb(22, 190, 179);
        border-radius: 15px;
        padding: 15px 0;
        h2{
            color: $color-pri;
            font-size: 70px;
            font-weight: bold;
            margin: 15px;
            padding: 5px;
            border: 2px dashed white;
            border-radius: 15px;
            line-height: normal;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            padding: 15px 25px;
            text-align: center;
            line-height: normal;
            margin: 0;
        }
    }
}

.servicios-sd{
    @extend %aspecto-servicios;
    img{
        height: 450px;
        width: 50%;
    }
    div{
        text-align: center;
        h3{
            color: $color-pri;
            font-size: nth($size, 1);
            padding: 10px;
            text-decoration: underline;
            font-weight: bold;
            line-height: normal;
            margin: 0;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            padding: 10px;
            line-height: normal;
            margin: 0;
        }
    }
}

.servicios-cs{
    @extend %aspecto-servicios;
    flex-direction: row-reverse;
    img{
        height: 450px;
        width: 50%;
    }
    div{
        text-align: center;
        h3{
            color: $color-pri;
            font-size: nth($size, 1);
            padding: 10px;
            text-decoration: underline;
            font-weight: bold;
            line-height: normal;
            margin: 0;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            padding: 10px;
            line-height: normal;
            margin: 0;
        }
    }
}

.servicios-gd{
    @extend %aspecto-servicios;
    img{
        height: 450px;
        width: 50%;
    }
    div{
        text-align: center;
        h3{
            color: $color-pri;
            font-size: nth($size, 1);
            padding: 10px;
            text-decoration: underline;
            font-weight: bold;
            line-height: normal;
            margin: 0;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            padding: 10px;
            line-height: normal;
            margin: 0;
        }
    }
}

.servicios-sre{
    @extend %aspecto-servicios;
    flex-direction: row-reverse;
    img{
        height: 450px;
        width: 50%;
    }
    div{
        text-align: center;
        h3{
            color: $color-pri;
            font-size: nth($size, 1);
            padding: 10px;
            text-decoration: underline;
            font-weight: bold;
            line-height: normal;
            margin: 0;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            padding: 10px;
            line-height: normal;
            margin: 0;
        }
    }
}

.servicios-da{
    @extend %aspecto-servicios;
    img{
        height: 450px;
        width: 50%;
    }
    div{
        text-align: center;
        h3{
            color: $color-pri;
            font-size: nth($size, 1);
            padding: 10px;
            text-decoration: underline;
            font-weight: bold;
            line-height: normal;
            margin: 0;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            padding: 10px;
            line-height: normal;
            margin: 0;
        }
    }
}

.propuesta-nueva{
    background-color: $color-sec;
    @include flex (flex, center, center, column);
    height: 300px;
    p{
        color: $color-ter;
        font-size: 23px;
        text-align: center;
        padding: 0 20px 15px 20px;
        line-height: normal;
        margin: 0;
    }
    a{
        @extend %aspecto-boton;
        margin-top: 15px;
    }
}

// ------ NOTICIAS ------

.noticias-intro{
    @extend %aspecto-bg-img;
    @extend %seccion-inicial-doc;
    background-image: url("../img/img-noticias.jpg");
    div{
        background-color: $color-sec;
        @include flex (flex, center, center, column);
        width: 65%;
        margin: 0 auto;
        border: 5px solid rgb(22, 190, 179);
        border-radius: 15px;
        padding: 15px 0;
        h2{
            color: $color-pri;
            font-size: 70px;
            font-weight: bold;
            margin: 15px;
            padding: 5px;
            border: 2px dashed white;
            border-radius: 15px;
            line-height: normal;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            padding: 15px 25px;
            text-align: center;
            line-height: normal;
            margin: 0;
        }
    }
}

.noticias{
    background-color: $color-sec;
    h2{
        color: $color-pri;
        @extend %titulos-h2;
    }
    .noticias-caja{
        @include flex (flex, center, center, column);
        width: 80%;
        margin: 0 auto;
        .noticia-pri{
            margin: 30px 0;
            border: solid 5px rgb(22, 190, 179);
            border-radius: 10px;
            div{
                @include flex (flex, center, center, row);
                img{
                    height: 350px;
                    width: 50%;
                }
                h3{
                    color: $color-pri;
                    font-size: nth($size, 1);
                    font-weight: bold;
                    line-height: normal;
                    margin: 0;
                    padding: 0 20px;
                    text-align: center;
                    text-decoration: underline;
                    width: 50%;
                }
            }
            p{
                color: $color-ter;
                font-size: nth($size, 3);
                background-color: $color-cua;
                text-align: center;
                margin: 0;
                padding: 20px;
            }
        }
        .noticia-sec{
            margin: 30px 0;
            border: solid 5px rgb(22, 190, 179);
            border-radius: 10px;
            div{
                @include flex (flex, center, center, row);
                img{
                    height: 350px;
                    width: 50%;
                }
                h3{
                    color: $color-pri;
                    font-size: nth($size, 1);
                    font-weight: bold;
                    line-height: normal;
                    margin: 0;
                    padding: 0 20px;
                    text-align: center;
                    text-decoration: underline;
                    width: 50%;
                }
            }
            p{
                color: $color-ter;
                font-size: nth($size, 3);
                background-color: $color-cua;
                text-align: center;
                margin: 0;
                padding: 20px;
            }
        }
        .noticia-ter{
            margin: 30px 0;
            border: solid 5px rgb(22, 190, 179);
            border-radius: 10px;
            div{
                @include flex (flex, center, center, row);
                img{
                    height: 350px;
                    width: 50%;
                }
                h3{
                    color: $color-pri;
                    font-size: nth($size, 1);
                    font-weight: bold;
                    line-height: normal;
                    margin: 0;
                    padding: 0 20px;
                    text-align: center;
                    text-decoration: underline;
                    width: 50%;
                }
            }
            p{
                color: $color-ter;
                font-size: nth($size, 3);
                background-color: $color-cua;
                text-align: center;
                margin: 0;
                padding: 20px;
            }
        }
        .noticia-cua{
            margin: 30px 0;
            border: solid 5px rgb(22, 190, 179);
            border-radius: 10px;
            div{
                @include flex (flex, center, center, row);
                img{
                    height: 350px;
                    width: 50%;
                }
                h3{
                    color: $color-pri;
                    font-size: nth($size, 1);
                    font-weight: bold;
                    line-height: normal;
                    margin: 0;
                    padding: 0 20px;
                    text-align: center;
                    text-decoration: underline;
                    width: 50%;
                }
            }
            p{
                color: $color-ter;
                font-size: nth($size, 3);
                background-color: $color-cua;
                text-align: center;
                margin: 0;
                padding: 20px;
            }
        }
    }
}

.newsletter{
    background-color: $color-sec;
    @include flex (flex, space-evenly, center, row);
    height: 270px;
    border-top: solid 1.5px white;
    border-bottom: solid 1.5px white;
    padding: 0 100px;
    div{
        width: 60%;
        h3{
            color: $color-pri;
            font-size: nth($size, 2);
            padding: 10px 0;
            text-decoration: underline;
            font-weight: bold;
            margin: 0;
            line-height: normal;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 4);
            margin: 0;
        }
    }
    a{
        @extend %aspecto-boton;
    }
}

// ------ NOSOTROS ------

.nosotros-intro{
    @extend %aspecto-bg-img;
    @extend %seccion-inicial-doc;
    background-image: url("../img/img-nosotros.jpg");
    div{
        background-color: $color-sec;
        @include flex (flex, center, center, column);
        width: 65%;
        margin: 0 auto;
        border: 5px solid rgb(22, 190, 179);
        border-radius: 15px;
        padding: 15px 0;
        h2{
            color: $color-pri;
            font-size: 70px;
            font-weight: bold;
            margin: 15px;
            padding: 5px;
            border: 2px dashed white;
            border-radius: 15px;
            line-height: normal;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            padding: 15px 25px;
            text-align: center;
            line-height: normal;
            margin: 0;
        }
    }
}

.historia{
    background-color: $color-sec;
    h2{
        color: $color-pri;
        @extend %titulos-h2;
    }
    div{
        @include flex (flex, center, center, column);
        padding-bottom: 40px;
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            text-align: center;
            padding: 15px 100px;
            margin: 0;
        }
    }
}

.mision{
    background-color: $color-sec;
    @include flex (flex, center, center, column);
    height: 250px;
    background-color: $color-cua;
    padding: 30px 0;
    h3{
        color: $color-pri;
        font-size: 23px;
        font-weight: bold;
        padding-bottom: 15px;
        margin: 0;
        line-height: normal;
    }
    p{
        color: $color-ter;
        font-size: nth($size, 2);
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
}

.nosotros-equipos{
    background-color: $color-sec;
    h2{
        color: $color-pri;
        @extend %titulos-h2;
    }
    p{
        color: $color-ter;
        font-size: nth($size, 3);
        width: 80%;
        margin: 0 auto;
    }
    .los-equipos{
        @include flex (flex, space-evenly, center, row);
        padding: 50px 0;
        div{
            color: $color-sec;
            font-size: nth($size, 2);
            font-weight: bold;
            padding: 15px;
            background-color: rgb(22, 190, 179);
            border: 1px solid rgb(22, 190, 179);
            border-radius: 50px;
        }
    }
    .los-equipos-sumate{
        @include flex (flex, center, center, row);
        align-items: center;
        padding-bottom: 40px;
        h3{
            color: $color-pri;
            font-size: 25px;
            font-weight: bold;
            padding: 0 40px;
            margin: 0;
            line-height: normal;
        }
        a{
            @extend %aspecto-boton;
        }
    }
}

// ------ CONTÁCTANOS ------

.contactanos-intro{
    @extend %aspecto-bg-img;
    @extend %seccion-inicial-doc;
    background-image: url("../img/img-contactanos.jpg");
    div{
        background-color: $color-sec;
        @include flex (flex, center, center, column);
        width: 75%;
        margin: 0 auto;
        border: 5px solid rgb(22, 190, 179);
        border-radius: 15px;
        padding: 15px 0;
        h2{
            color: $color-pri;
            font-size: 70px;
            font-weight: bold;
            margin: 15px;
            padding: 5px;
            border: 2px dashed white;
            border-radius: 15px;
            line-height: normal;
        }
        p{
            color: $color-ter;
            font-size: nth($size, 3);
            padding: 15px 25px;
            text-align: center;
            line-height: normal;
            margin: 0;
        }
    }
}

.seccion-formulario{
    background-color: $color-sec;
    h2{
        color: $color-pri;
        @extend %titulos-h2;
    }
    .formulario{
        @include flex (flex, space-between, center, row);
        width: 90%;
        margin: 0 auto;
        padding: 0 0 50px 0;
        form{
            div{
                label{
                    color: $color-pri;
                }
            }
            div{
                button{
                    @extend %aspecto-boton;
                    width: auto;
                    &:hover{
                        background-color: rgb(22, 190, 179);
                    }
                }
            }
        }
        img{
            height: 450px;
            width: auto;
            padding-left: 15px;
        }
    }
}

.oficina{
    background-color: $color-cua;
    h2{
        color: $color-pri;
        @extend %titulos-h2;
    }
    p{
        color: $color-ter;
        font-size: nth($size, 3);
        width: 85%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    div{
        @include flex (flex, space-evenly, center, row);
        border: solid 1.5px black;
        iframe{
            padding: 20px 0;
        }
        div{
            @include flex (flex, space-evenly, center, column);
            width: 50%;
            padding: 5px;
            h3{
                color: $color-pri;
                font-size: nth($size, 1);
                padding: 10px;
                margin: 0;
                text-decoration: underline;
            }
            p{
                color: $color-ter;
                font-size: nth($size, 4);
                margin: 0;
                padding: 5px 10px;
            }
        }
    }
}

.final-contactanos{
    img{
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
}